<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--  *********************************catergory for show view*********************************** -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ECNO Debugger"
            id="dk.dtu.imm.se.debugger.ecno.viewCatId">
      </category>
      <!--  *********************************views*********************************** -->
      <view
            category="dk.dtu.imm.se.debugger.ecno.viewCatId"
            class="dk.dtu.imm.se.debugger.ecno.views.DebugView"
            icon="icons/debug.png"
            id="dk.dtu.imm.se.debugger.ecno.views.DebugView"
            name="Debug"
            restorable="true">
      </view>
      <view
            category="dk.dtu.imm.se.debugger.ecno.viewCatId"
            class="dk.dtu.imm.se.debugger.ecno.views.BreakpointView"
            icon="icons/breakpoint.png"
            id="dk.dtu.imm.se.debugger.ecno.views.BreakpointView"
            name="Breakpoints"
            restorable="true">
      </view>
      <view
            category="dk.dtu.imm.se.debugger.ecno.viewCatId"
            class="dk.dtu.imm.se.debugger.ecno.views.FilterView"
            icon="icons/sample.png"
            id="dk.dtu.imm.se.debugger.ecno.views.FilterView"
            name="Filter"
            restorable="true">
      </view>
      <view
            category="dk.dtu.imm.se.debugger.ecno.viewCatId"
            class="dk.dtu.imm.se.debugger.ecno.views.OverviewView"
            icon="icons/sample.png"
            id="dk.dtu.imm.se.debugger.ecno.views.OverviewView"
            name="Overview"
            restorable="true">
      </view>
   </extension>
   
   <!--  **********************************prospective********************************** -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="dk.dtu.imm.se.debugger.ecno.views.DebugView"
               minimized="false"
               ratio="0.95f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="dk.dtu.imm.se.debugger.ecno.views.BreakpointView"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="dk.dtu.imm.se.debugger.ecno.views.DebugView"
               visible="true">
         </view>
         
      </perspectiveExtension>
   </extension>
   <!--  ******************************************************************** -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="dk.dtu.imm.se.debugger.ecno.commands.ChangeLayout"
            id="dk.dtu.imm.se.debugger.ecno.commands.ChangeLayout"
            name="Change Layout">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="Unique name2"
               optional="true">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:TREE"
               id="org.eclipse.ui.commands.RadioState">
         </state>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
            </class>
         </state>
      </command>
      <command
            defaultHandler="dk.dtu.imm.se.debugger.ecno.commands.ShowAddedElements"
            id="dk.dtu.imm.se.debugger.ecno.commands.ShowAddedElements"
            name="Show Added Elements">
      </command>
      <command
            defaultHandler="dk.dtu.imm.se.debugger.ecno.commands.ShowEncounteredElements"
            id="dk.dtu.imm.se.debugger.ecno.commands.ShowEncounteredElements"
            name="Show Encountered Elements">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:dk.dtu.imm.se.debugger.ecno.views.Menu">
         <menu
               label="Select Layout">
            <command
                  commandId="dk.dtu.imm.se.debugger.ecno.commands.changeLayout"
                  id="dk.dtu.imm.se.debugger.ecno.commands.changeLayout.spring"
                  label="Spring Layout"
                  style="radio">
            </command>
            <command
                  commandId="dk.dtu.imm.se.debugger.ecno.commands.changeLayout"
                  id="dk.dtu.imm.se.debugger.ecno.commands.changeLayout.grid"
                  label="Grid  Layout"
                  style="radio">
            </command>
            <command
                  commandId="dk.dtu.imm.se.debugger.ecno.commands.changeLayout"
                  id="dk.dtu.imm.se.debugger.ecno.commands.changeLayout.horizontalTree"
                  label="Horizontal Tree"
                  style="radio">
            </command>
            <command
                  commandId="dk.dtu.imm.se.debugger.ecno.commands.changeLayout"
                  id="dk.dtu.imm.se.debugger.ecno.commands.changeLayout.radial"
                  label="Radial Layout"
                  style="radio">
            </command>
            <command
                  commandId="dk.dtu.imm.se.debugger.ecno.commands.changeLayout"
                  id="dk.dtu.imm.se.debugger.ecno.commands.changeLayout.tree"
                  label="Tree Layout"
                  style="radio">
            </command>
            <menu
                  label="show">
               <command
                     commandId="dk.dtu.imm.se.debugger.ecno.commands.showEncounteredElements"
                     label="Show Encountered Elements"
                     style="toggle">
               </command>
               <command
                     commandId="dk.dtu.imm.se.debugger.ecno.commands.showAddedElements"
                     label="Show Eadded Elements"
                     style="toggle">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <!-- <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="dk.dtu.imm.se.debugger.ecno.perspectives.Perspective"
            id="dk.dtu.imm.se.debugger.ecno.perspectives.Perspective"
            name="ECNO Debugger Perspective">
      </perspective>
   </extension> -->
   
<!--  *******************************end plugin************************************* -->
</plugin>
